<!DOCTYPE html>
<html>
<head>
  <title> Home page</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0
  ,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&displa
  y=swap" rel="stylesheet">
  
</head>
<body>
  <section class="about">
    <div class="main">
      <div class="about-text">
        <h3> Occupany Prediction</h3>
        <h5> Purpose & Model</h5>
        <p>  Predicting Occupancy in hotels </p>
        <p>  Here in this project I have used different algorithms like: Decision tree, Randomforest, Naive byes,Logistic Regression and used mean squareed error to evaluate & check the best performing model.Hence created a regression model using Linear Regression and we are trying to predict the Occupancy. The 2 Occupancy types are: Occupied and Unoccupied </p>
        <p> To predict the Occupancy in hotels please click on the below button </p>
        <a href="/Next"><button type="button">Next</button></a>
      </div>
    </div>
  </section>      

</body>
</html>  
